<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <input id="name"/>
    <input id="chinese"/>
    <input id="english"/>
    <input id="math"/>

    <button>确定</button>
  </body>

  <script>
    window.onload = function(){
      
    }
  </script>
</html>
